body{
    background: #242b5e url("../images/fondo.png") ;
   
}

/*colores:
azul: #2a48af #3651ab #242b5e
naranja: #e65932
amarillo: #ed9e27
*/

header{
    height:130px;
    background-color: #2a48af;
}

#logo{
    margin-left: 25px;
}

#menu{
    z-index: 100;
    width: 250px;
    height: 100%;
    position: absolute;
    left: -249px;
    background-color: #2a48af;
    text-align: center;
}

#menu:hover{
    position: absolute;
    left: 0;
    box-shadow: 20px 20px 15px #00000080;
    transition: 100ms ease-in;
}

#menu/.input-group{
    margin-left: 5px;
    margin-right: 5px;
}

.selector{
    width: 500px;
}

.turno{
    font-weight: bolder;
    color: black;
    text-shadow: 15px 15px 10px#00000016;
    user-select: none;
}

.texto-turno{
    font-size: 150px;
    margin-bottom:0;
}

.numero{
    z-index: 0;
    margin-top: 0;
    font-size: 700px;
    text-shadow: 0px 0px 25px#242b5e;
    text-align: center;
}
